:root {
  /* color */
  --blue-color: #2858ff;
  --orange-color: #ff7a00;
  --black-color: #262626;
  --white-color-opacity60: #f2f2f2;
  --search-tab-color: #f5f5f5;
  --swiper-color: #d8d8d8;
  --white-color: #ffffff;
  --grey-basic-color: #7a7a7a;
  --grey-light-color: #d1d1d1;

  /* font-size */
  --font-2xsmall: 12px;
  --font-xsmall: 14px;
  --font-small: 16px;
  --font-large: 20px;
  --font-xlarge: 24px;
  --font-2xlarge: 30px;

  /* font-line-height */
  --line-height-2xsmall: 16px;
  --line-height-xsmall: 18px;
  --line-height-small: 22px;
  --line-height-large: 28px;
  --line-height-xlarge: 30px;
  --line-height-2xlarge: 42px;

  /* padding */
  --side-padding: 30px;
}

body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

.navbar {
  float: left;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--blue-color);
  > h2 {
    color: var(--white-color);
    text-align: center;
  }
  > ul {
    margin-top: var(--side-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    > li {
      color: var(--white-color);
      padding: 30px 20%;
      border-radius: 30px;
      > a {
        color: var(--white-color);
      }
    }
    > li:hover {
      background-color: var(--white-color);
      color: var(--blue-color);
    }

    > li:hover > a {
        color: var(--blue-color);
    }
  }
}
